.btn-teal {
  background-color: #006064;
  color: #fff;
  border: none;
}
.btn-teal:hover, .btn-outline-teal:hover {
  background-color: #004d40;
  color: #fff;
}
.btn-outline-teal {
  border: 1px solid #006064;
  color: #006064;
  background: #fff;
}
