/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';




:root {
  --p-button-hover-text-color: #fff;
  --p-button-border-radius: 8px;
  --main-bg-color: #263238;
  --main-bg-color-light: #37474f;
  --main-bg-color-dark: #1c313a;
  --main-bg-color-teal: #006064;
  --main-bg-color-teal-light: #00838f;
  --main-bg-color-teal-dark: #004d40;
}


.bg-main {
  background-color: var(--main-bg-color);
}
.bg-main-light {
  background-color: var(--main-bg-color-light);
}
.bg-main-dark {
  background-color: var(--main-bg-color-dark);
}
.bg-main-teal {
  background-color: var(--main-bg-color-teal);
}
.bg-main-teal-light {
  background-color: var(--main-bg-color-teal-light);
}
.bg-main-teal-dark {
  background-color: var(--main-bg-color-teal-dark);
}


.btn-teal {
  background-color: var(--main-bg-color-teal);
  border-color: var(--main-bg-color-teal);
  color: #fff;
}
.btn-teal:hover {
  background-color: var(--main-bg-color-teal-dark);
  border-color: var(--main-bg-color-teal-dark);
  color: #fff;
}

.p-button .p-button-outlined {
  --p-button-bg: transparent;
  --p-button-text-color: #009688;
  --p-button-border: 2px solid #009688;
  --p-button-hover-bg: #009688;
  --p-button-hover-text-color: #fff;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.input-group input.ng-valid.ng-touched,
.input-group input.ng-valid.ng-dirty {
  border-color: #28a745 !important;
  box-shadow: none;
}

.input-group input.ng-valid.ng-touched ~ .input-group-text,
.input-group input.ng-valid.ng-dirty ~ .input-group-text {
  border-color: #28a745 !important;
}

.input-group input:not(.ng-valid) ~ .input-group-text {
  border-color: #28a745 !important;
}


.input-group input:focus {
  border-color: #86b7fe ;
  box-shadow: none !important;
  outline: none !important;
}

.input-group input:focus + .input-group-text,
.input-group input:focus ~ .input-group-text {
  border-color: #86b7fe;
  box-shadow: none !important;
}

.input-group input:focus {
  border-color: #86b7fe ;
}
.input-group .input-group-text {
  transition: border-color 0.2s;
}
.input-group:focus-within .input-group-text {
  border-color: #86b7fe ;
}

.input-group .form-control.border-danger,
.input-group .form-control.border-danger:focus,
.input-group .input-group-text.border-danger,
.input-group .input-group-text.border-danger:focus {
  border-color: #dc3545 !important;
  box-shadow: none !important;
}
